<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="stylesheet" href="./Graficas/style-graficas.css" />
    <title>SoltekQuest</title>
    <script defer src="./hope.js"></script>
    <script defer src="./index.js"></script>
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js"></script>
</head>

<body>
    <header class="header">
        <nav class="nav">
            <!-- Imagen Logo -->
            <div class="Logo logo nav-link">
                <a href="#">
                    <img src="./Images/Logo_Escala.png" alt="SoltekQuest">
                </a>
            </div>
            <!-- -->
            <button class="toggle nav-toggle">
                <a href="#">
                    <i class='bx bx-menu'></i>
                </a>
            </button>
            <ul class="nav-menu ">
                <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link nav-menu-link_active">Ayuda<i
                            class='bx bx-help-circle'></i></a></li>
                <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link nav-menu-link_active">Contactanos<i
                            class='bx bx-phone'></i></a></li>
            </ul>
        </nav>
    </header>

    <div class="container-form sign-in">
        <form class="formulario" method="POST" id="login-form">
            <h2 class="create-account">¿Tienes una clave de encuesta?</h2>
            <input type="text" id="clave" name="clave" class="clave" placeholder="Ingresa la clave">
            <input type="submit" id="vi-submit-btn" value="Visualizar" class="vi-sumit-btn">
            <input type="text" id="token" name="url" class="token" placeholder="Ingresa el Token">
            <input type="submit" id="Con-submit-btn" value="Contestar" class="Con-sumit-btn">
            <!--onclick="window.location.href = 'sesion.html';"-->
            <h3 class="h3">Para tener clave hay que crear un pregunta</h3>
            <input type="button" value="Crear pregunta" id="ask-btn" class="ask-sumit-btn"
                onclick="window.location.href = 'ask.html';">

        </form>
    </div>
    <!--Sesion-->
    <div class="container-sesion my-quest-option">
        <form class="formulario-quest-stats">
            <form class="centeritems" id="stats-form">
                <div id="nameA"></div>
                <div id="createAt"></div>
                <div><i class='bx bx-user'></i></div>
                <button id="btnStats" type="button" class="btn-stats"><i class='bx bx-bar-chart-alt-2' ></i></button>
                <!---->
                <button id="btnback" class="back-btn">Regresar</button>
            </form>
        </form>
    </div>
    <!--Users-->
    <!--Respondiendo pregunta-->
    <div class="container-user user-quest">
        <form class="formulario-quest" id="ask-form">
            <h2>Responde la pregunta</h2>
            <div class="container-user range">
                <form class="formulario-quest-range">
                    <output id="id-pregunta-user" class="pregunta-user">¿Que tan probable es que recomiendes este
                        servicio a tus amigos o familiares?</output>
                    <br>
                    <input type="button" id="rangevalue" class="rangevalue1" value="1">
                    <input type="button" id="rangevalue" class="rangevalue2" value="2">
                    <input type="button" id="rangevalue" class="rangevalue3" value="3">
                    <input type="button" id="rangevalue" class="rangevalue4" value="4">
                    <input type="button" id="rangevalue" class="rangevalue5" value="5">
                    <input type="button" id="rangevalue" class="rangevalue6" value="6">
                    <input type="button" id="rangevalue" class="rangevalue7" value="7">
                    <input type="button" id="rangevalue" class="rangevalue8" value="8">
                    <input type="button" id="rangevalue" class="rangevalue9" value="9">
                    <input type="button" id="rangevalue" class="rangevalue10" value="10">
                    <!--<input type="range" value="5" min="0" max="10" oninput="rangevalue.value=value" id="valornum" />
                    -->
                </form>
            </div>
        </form>
    </div>
    <div class="container-user btn-user">
        <form class="form-btn-user" id="form-btn-user">
            <button id="btncanceluser" class="cancelar-btn">Cancelar</button>
            <input type="button" id="btnsend" class="send-btn1" value="Enviar">
        </form>
    </div>
    <!--Enviando pregunta-->
    <div class="container-user send">
        <form id="save-question" method="POST" id="send-answer">
            <header class="header-send">
                <p>Gracias por su participación</p>
            </header>
            <input type="button" id="btnsalir" class="salir-btn" value="Salir">
            <input type="submit" id="btnsend2" class="send-btn" value="Enviar">
        </form>
    </div>
    <!--Graficas-->
    <div class="container-sesion graficas">
        <div class="Box Box1">
            <canvas id="myChart"></canvas>
            <!-- <input type="month" id="mesinicial" max="2050-12" min="2020-01" />
          <input type="month" id="mesfinal" max="2030-01" min="2020-01" /> -->
        </div>
        <div class="Box Box2">
            <canvas id="myChart2" class="chartbox"></canvas>
            <div class="porcentaje" id="porcentaje"></div>
        </div>
        <div class="Box Boxtable">
            <table class="table" style="overflow-x:auto;">
                <thead>
                    <tr>
                        <th>Detractores</th>
                        <th>Pasivos</th>
                        <th>Promotores</th>
                        <th>Total</th>
                        <th>Net promoter score(NPS)</th>
                    </tr>
                </thead>
                <tbody id="data"></tbody>
            </table>
        </div>
        <button id="btnback" class="back-btn_graf">Regresar</button>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </div>
</body>


</html>