<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>SoltekQuest</title>
    <script defer src="sesion.js"></script>
    <script defer src="./main.js"></script>
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="sesion-on">
    <header class="header">
        <nav class="nav">
            <div class="Logo logo nav-link">
                <a href="#">
                    <img src="Images/Logo_Escala.png" alt="SoltekQuest">
                </a>
            </div>
            <button class="toggle nav-toggle">
                <a href="#">
                    <i class='bx bx-menu'></i>
                </a>
            </button>
            <ul class="nav-menu ">
                <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link nav-menu-link_active">Ayuda<i
                            class='bx bx-help-circle'></i></a></li>
                <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link nav-menu-link_active">Contactanos<i
                            class='bx bx-phone'></i></a></li>
            </ul>
        </nav>
    </header>
    <div class="container-sesion create-quest">
        <form class="formulario-quest">
            <h2>Formula tu pregunta</h2>
            <div class="container-sesion range">
                <form class="formulario-quest-range">
                    <input type="text" id="id_pregunta" class="pregunta" placeholder="Pregunta">
                    <br>
                    <input type="range" value="5" min="0" max="10" oninput="rangevalue.value=value" />
                    <output id="rangevalue">5</output>
                </form>
            </div>
    </div>
    <div class="container-sesion btn">
        <form class="form-btn">
          <!-- <button id="btnadd" class="agregar-btn"><i class='bx bx-add-to-queue'></i> Agregar pregunta</button>--> 
            <button id="btncancel" class="cancelar-btn">Cancelar</button>
            <button id="btnsave" class="save-btn">Guardar<i class='bx bx-save'></i></button>
        </form>
    </div>
    <!--
        <div class="container-sesion my-quest-option">
        <form class="formulario-quest-stats">
            <form class="centeritems">
                <div>Nombre de encuesta</div>
                <div id="current_date"></div>
                <div><i class='bx bx-user'></i>0</div>
                <button class="btn-stats"><i class='bx bxs-bar-chart-alt-2'></i></button>
                <button id="btnvisualize" class="visualize-btn">Visualizar</button>
            </form>
        </form>
    </div>
    -->
</body>