<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>SoltekQuest</title>
    <script defer src="./user.js"></script>
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header class="header">
        <nav class="nav">
            <!-- Imagen Logo -->
            <div class="Logo logo nav-link">
                <a href="index.html">
                    <img src="./Images/Logo_Escala.png" alt="SoltekQuest">
                </a>
            </div>
            <!-- -->
            <button class="toggle nav-toggle">
                <a href="#">
                    <i class='bx bx-menu'></i>
                </a>
            </button>
            <ul class="nav-menu ">
                <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link nav-menu-link_active">Ayuda<i
                            class='bx bx-help-circle'></i></a></li>
                <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link nav-menu-link_active">Contactanos<i
                            class='bx bx-phone'></i></a></li>
            </ul>
        </nav>
    </header>
    <!--Respondiendo pregunta-->
    <div class="container-user user-quest">
        <form class="formulario-quest">
            <h2>Responde la pregunta</h2>
            <div class="container-user range">
                <form class="formulario-quest-range">
                    <output type="text" id="id_pregunta-user" class="pregunta-user">Pregunta aqui</output>
                    <br>
                    <input type="range" value="5" min="0" max="10" oninput="rangevalue.value=value" />
                    <output id="rangevalue">5</output>
                </form>
            </div>
        </form>
    </div>
    <div class="container-user btn-user">
        <form class="form-btn-user" method="POST" id="form-btn-user">
            <button id="btncanceluser" class="cancelar-btn">Cancelar</button>
            <input type="button" id="btnsend" class="send-btn1" value="Enviar">
        </form>
    </div>
    <!--Enviando pregunta-->
    <div class="container-user send">
        <header class="header-send">
            <p>Gracias por su participación</p>
        </header>
        <button id="btnsalir" class="salir-btn">Salir</button>
        <button id="btnsend" class="send-btn">Enviar<i class='bx bxs-send'></i></button>
    </div>
</body>

</html>